/* プレビュー用 */
.sqc_typo_header {
    font-family: 'Acme', sans-serif;
    font-family: 'Noto Sans JP', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 28px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #585858;
}

.spc_preview {
    font-size: 16px;
    line-height: 24px;
}

.sqp_typo_header {
    font-size: 20px;
    line-height: 20px;
}