/* 結果画面 */
main {
    padding: 24px 20px;
}

.sqr_whiteCover {
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.4);
}

.spr_typo_message {
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: #2E2E2E;
    text-align: center;
}

.sqr_iconArea {
    height: 90px;
}

.sqr_iconArea>img {
    display: none;
    margin: 0 auto;
}

.sqr_iconArea>.sqr_showMascotIcon {
    display: block;
}

.sqr_tableFrame {
    padding: 16px;
    border: 3px solid #FABF00;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.sqr_typo_numOfCorrects {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #2E2E2E;
    text-align: center;
}

/* テーブルエリア */
.sqr_tableArea {
    padding-top: 16px;
}

.sqr_judgementTable {
    display: flex;
    border-radius: 16px;
    overflow: hidden;
}

.sqr_judgementTable>ul {
    flex-grow: 1;
}

.sqr_judgementTable li {
    display: flex;
}

.sqr_judgementTable li>div {
    flex-grow: 1;
    width: 50%;
}

.sqr_tableNumArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-right: 2px solid #FABF00;
    background-color: #FCDF7F;
}

.sqr_tableNumArea_bgGrey {
    background-color: #F0F0F0;
}

.sqr_typo_tableNum {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #2E2E2E;
}

.sqr_tableJudgeArea {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEF2CC;
}

.sqr_tableJudgeArea_bgGrey {
    background-color: #FAFAFA;
}

.sqr_judgementTable>ul:first-child .sqr_tableJudgeArea {
    border-right: 2px solid #FABF00;
}

.sqr_judgementTable>ul>li:not(:first-child) {
    border-top: 2px solid #FABF00;
}

.sqr_judgementIconUnderbar {
    padding: 4px;
    border-bottom: 1px solid #585858;
}

.sqr_correctIcon, .sqr_incorrectIcon {
    display: none;
    width: 16px;
    height: 16px;
}

.sqr_showJudgeIcon {
    display: block;
}

/* ダイアログ内の要素 */
.sqr_statementArea {
    display: flex;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.sqr_numberArea {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    border-radius: 16px;
    background-color: #FABF00;
}

.sqr_typo_number {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #2E2E2E;
}

.sqr_statement {
    display: flex;
    align-items: center;
    flex-grow: 1;
    padding: 0 8px;
}

.sqr_typo_statement {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #2E2E2E;
}

.sqr_optionArea {
    padding: 48px 12px 0 12px;
}

.sqr_optionArea>li:not(:first-child) {
    padding-top: 16px;
}

.sqr_optionArea>li:last-child {
    padding-bottom: 4px;
}

.sqr_option {
    padding: 8px 20px;
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background-color: #FFECB2;
}

.sqr_correctOption {
    background-color: #F29F00;
}

.sqr_typo_optionText {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #2E2E2E;
}

.sqr_tagArea {
    padding-top: 4px;
}

.sqr_typo_tag {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    color: #F23737;
}

/* ランキングエリア */
.sqr_rankingArea {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 16px;
}

.sqr_rankTextSpace {
    padding-left: 8px;
}

.sql_typo_rankText {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #2E2E2E;
}

.sql_typo_rankNum {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #2E2E2E;
}

/* ノーティフィケーションエリア */
.sqr_adviceArea {
    padding-top: 16px;
}

.sqr_typo_advice {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2E2E2E;
}

/* ポップアップ */
/* bodyスクロール制御 */
.c_bodyScroll {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    left: 0;
}

/* コンポーネント：Dialog */
.sqr_modal01,
.c_dialog02 {
    display: flex;
}

.sqr_modal01_showModal,
.c_dialog02_showModal {
    cursor: pointer;
}

/* ダイアログ背景 */
.sqr_modal01_modal,
.c_dialog02_modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0, 0.2, 0.4, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(0, 134, 114, 0.747);
    cursor: pointer;
    z-index: 10;
}

.sqr_modal01_inner {
    background-color: #FFFFFF;
    border-radius: 24px;
    /* スクロールの調整のため右・下paddingをsqr_modal01_textAreaと分割 */
    padding: 32px 12px 30px 0;
    width: 90vw;
    max-width: 592px;
    min-width: 328px;
    max-height: 90%;
    position: relative;
    cursor: default;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

/* PC表示 */
@media (min-width: 760px) {
    .sqr_modal01_inner {
        max-height: 680px;
    }
}

/* ダイアログテキストエリア */
.sqr_modal01_textArea {
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    /*モーダル内スクロールの調整のため右・下paddingをsqr_modal01_innerと分割 */
    padding: 0 12px 2px 24px;
}

/* PC表示 */
@media (min-width: 760px) {
    .sqr_modal01_textArea {
        /* ダイアログボックスの最大の高さ（680px）からパディング要素（64px）を引いた値 */
        max-height: 616px;
    }
}

/* 閉じるアイコン（×ボタン） */
.sqr_modal01_CloseBtn,
.c_dialog02_CloseBtn,
.c_cfmDialog_CloseBtn {
    position: absolute;
    right: -16px;
    top: -24px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* ダイアログ表示用クラス */
.sqr_modal01_isShow,
.c_dialog02_isShow,
.c_cfmDialog_isShow .c_cfmDialog_modal {
    visibility: visible;
    opacity: 1;
}

/* ×ボタンクローズ非表示用クラス */
.sqr_modal01_hidden_closeBtn>.sqr_modal01_modal>.sqr_modal01_inner>.sqr_modal01_CloseBtn,
.c_dialog02_hidden_closeBtn>.c_dialog02_modal>.c_dialog02_inner>.c_dialog02_CloseBtn,
.c_cfmDialog_hidden_closeBtn .c_cfmDialog_CloseBtn {
    display: none;
}

/* 背景押下制御用クラス */
.sqr_modal01 .sqr_modal01_modal_disable,
.c_dialog02 .c_dialog02_modal_disable,
.c_cfmDialog .c_cfmDialog_modal_disable {
    cursor: default;
}

.c_dialog02_inner,
.c_cfmDialog_inner {
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 32px 0 0 0;
    position: relative;
    cursor: default;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    width: 90vw;
    min-width: 328px;
    max-width: 592px;
    display: flex;
    flex-direction: column;
}

/* PC表示 */
@media (min-width: 760px) {

    .c_dialog02_inner,
    .c_cfmDialog_inner {
        max-height: 680px;
    }
}

/* ダイアログテキストエリア */
.c_dialog02_textArea,
.c_cfmDialog_textArea {
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    margin: 0 24px;
}

/* ダイアログボタンエリア */
.c_dialog02_buttonArea,
.c_cfmDialog_buttonArea {
    padding: 24px 16px 32px 16px;
    flex-shrink: 0;
    position: relative;
}

.c_dialog02_buttonArea_shadow,
.c_cfmDialog_buttonArea_shadow {
    padding: 24px 16px 32px 16px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.c_dialog02_scrollBottom::after,
.c_cfmDialog_scrollBottom::after {
    content: "";
    display: block;
    height: 24px;
}